<ul>
	<% @tarea.errors.full_messages.each do |mensaje|%>
	<li>
		<p class="alert alert-danger"><%= mensaje %></p>
	</li>
	<% end %>
</ul>

<%= form_for(@tarea) do |f| %>
	<div class="form-group">
		<%= f.label :titulo, "Titulo" %>
		<%= f.text_field :titulo, class: "form-control", required: true %>
	</div>
	<div class="form-group">
		<%= f.label :descripcion, "Descripción"%>
		<%= f.text_area :descripcion, class: "form-control", required: true %>
	</div>
	<%= f.submit boton, class: "btn btn-#{color_boton}"%>
<%end%>