<ul>
	<% @tarea.errors.full_messages.each do |mensaje|%>
	<li>
		<p class="alert alert-danger"><%= mensaje %></p>
	</li>
	<% end %>
</ul>

<h2>Editar tarea</h2>

<%= form_for(@tarea, url: {controller: "tareas", action: "update"}, html: {method: "put"}) do |f| %>
	<div class="form-group">
		<%= f.label :titulo, "Titulo" %>
		<%= f.text_field :titulo, class: "form-control", required: true %>
	</div>
	<div class="form-group">
		<%= f.label :descripcion, "Descripción"%>
		<%= f.text_area :descripcion, class: "form-control", required: true %>
	</div>
	<%= f.submit "Editar", class: "btn btn-warning"%>
<%end%>