<!DOCTYPE html>
<html>
  <head>
    <title>Sitio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <!--<a class="nav-link" href="#">Inicio</a>-->
              <%= link_to "Inicio", welcome_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tareas", tareas_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Crear tarea", new_tarea_path, class: "nav-link"%>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
